version: "3"
services:
  panel:
    image: sayid/electionpanel:arm
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "80:80"

  auth:
    image: sayid/electionauth:arm
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "2000:2000"

  mongo:
    image: nonoroazoro/rpi-mongo
    ports:
      - "27017:27017"

  visualizer:
    image: alexellis2/visualizer-arm:latest
    ports:
      - "8181:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]

