version: "3"
services:
  auth:
    image: sayid/auth:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "2000:2000"
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  masterdb:
    image: ardalanfp/cloudcoursemicroserviceproject:masterdb
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "3306:3306"
  #   container_name: masterdb
  #   restart: always
  #   build: ./master/databaseDirectory/
    environment:
      MYSQL_ROOT_PASSWORD: "12345"
  #   ports:
  #     - "4306:3306"
  master:
    image: ardalanfp/cloudcoursemicroserviceproject:master
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "1000:8080"
  #   container_name: master
  #   restart: always
  #   build: ./master/
  #   ports:
  #     - "1000:8080"
  #   links:
  #     - masterdb
  validator:
    image: ardalanfp/cloudcoursemicroserviceproject:validator
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "3000:8081"
  #   container_name: validator
  #   build: ./validator/
  #   ports:
  #     - "3000:8081"
  #   links:
  #     - master
  #     - auth
  electionportal:
    image: ardalanfp/cloudcoursemicroserviceproject:electionportal
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    ports:
      - "4000:8082"
  #   container_name: electionportal
  #   deploy:
  #     replicas: 5
  #   build: ./electionportal/
  #   ports:
  #     - "4000:8082"
  #   links:
  #     - master
  visualizer:
    image: dockersamples/visualizer:stable
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      placement:
        constraints: [node.role == manager]
